@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');



body {
    font-family: cursive;
  }
  


  .loader {
    border-top-color: #3498db;
    animation: spinner 1.5s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  